<p>Hei,</p>

<p>Vi sender ut tilbakemeldinger til alle spillere.</p>
<p>
  Dette er tilbakemelding for <%= @feedback.player.name %> fra trener,  <%= @feedback.player.coach.name %>
</p>

<p><%= @feedback.feed_back %> </p>



<p>Mvh</p>
<p>Stavanger tennisklubb</p>
<p><%= @feedback.player.coach.name %></p>

<br/><br/>
<p> <i>E-posten er generet av trener men, er sendt ut fra felles mailboks feedback@stavangertk.no. Ønsker du å svare på mailen eller har spørsmål kan du svare på denne mailen og svaret vil bli sendt direkte til trenerens mail. </i> </p>