<p id="notice"><%= notice %></p>
<!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Welcome</h1>
          </div>
          <hr/>
<h3 class="h3 mb-0 text-gray-800">Treningsmengde siste måned</h3>
<div class="col-xl-4 col-md-12 mb-4">
<%= pie_chart [[ "Tennis", 20], ["Fys", 8], ["Egentrening tennis", 4], ["Egentrening fys", 3]] %>
</div>



 	 
 	


