<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @type_of_exercise.title %>
</p>

<%= link_to 'Edit', edit_type_of_exercise_path(@type_of_exercise) %> |
<%= link_to 'Back', type_of_exercises_path %>
