<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @type_of_training.title %>
</p>

<%= link_to 'Edit', edit_type_of_training_path(@type_of_training) %> |
<%= link_to 'Back', type_of_trainings_path %>
