<div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary"><%= @user.parent? ? "My kids" : "My Players"  %></h6>
            </div>
            <div class="card-body">
              <div class="table">
                <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Age</th>
                      <th>Edit</th>
                      
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Age</th>
                      <th>Edit</th>
                    
                    </tr>
                  </tfoot>
                  <tbody>

                    <% @user.players.each do |p| %>
                    <tr>
                      <td><%= link_to p.name, p %></td>
                      <td><%= p.age %></td>
                      <td><%= link_to 'Edit', edit_player_path(p) %></td>
                      
                    </tr>
                  <% end %>
                 
                    </tbody>
                </table>
              </div>
            </div>
          </div>