
	
	

<% @player.feedbacks.order(created_at: :desc).each do |f| %>
<div class="card mt-2">
		    <div class="card-header py-3" id="headingOne">
		      	<div class="text-md font-weight-bold text-primary mb-2 ">
				    Feedback 
				    <span class="text-gray-800"><%= f.created_at.strftime("%d-%m-%Y %H:%M") %></span>
		      	</div>
		   
		    </div>

		    <div class="card-body py-3">
		    	<p><%= f.feed_back %></p>				
			</div>
			
			<div class="card-footer py-3">
				<%= f.coach %>
			</div>
			
		</div>
	<% end %>

	