
	<table class="table table-bordered table-striped" width="100%" cellspacing="0">
		<thead>
			<tr>
				<th>Date</th>
				<th>Feedback</th>
				<th>Coach</th>
			</tr>
		</thead>
		<tbody>
			<% @player.feedbacks.order(created_at: :desc).each do |f| %>
			<tr>
				<td><%= f.created_at.strftime("%d-%m-%Y %H:%M") %></td>
				<td><%= f.feed_back %></td>
				<td><%= f.coach %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	

	