<ul class="nav nav-tabs">
		   <li class="nav-item "><a href="#profile" data-toggle="tab" class="nav-link text-secondary active">Profile</a></li>
		   <li class="nav-item "><a href="#tasks" data-toggle="tab" class="nav-link text-secondary">Tasks</a></li>
		   <% if @player.planet.title == "Lactea" %>
		   <li class="nav-item "><a href="#diary" data-toggle="tab" class="nav-link text-secondary">Diary</a></li>
		   <li class="nav-item "><a href="#ironman" data-toggle="tab" class="nav-link text-secondary">Ironman</a></li>
		   <li class="nav-item "><a href="#fys-program" data-toggle="tab" class="nav-link text-secondary">Physical program</a></li>
		   <% if @current_user.admin? %>
		   <li class="nav-item "><a href="#turneringsplan" data-toggle="tab" class="nav-link text-secondary">Event plan</a></li>
		   <% end %>
		   <% if @player.got_utr_profile? && @player.get_age > 12 && @myutr > 5.00 %>
		   <li class="nav-item "><a href="#utr" data-toggle="tab" class="nav-link text-secondary">UTR</a></li>
		   <% end %>
		    <li class="nav-item "><a href="#match_stats" data-toggle="tab" class="nav-link text-secondary">Stats</a></li>
		    <% end %>
		   <% if current_user.admin? || current_user.coach? %>
		   <li class="nav-item "><a href="#settings" data-toggle="tab" class="nav-link text-secondary">Settings</a></li>
		   <% end %>

		</ul>