<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion shadow-sm" id="accordionSidebar">

      <!-- Sidebar - Brand -->
     
      <span class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
         <i class="fas fa-toolbox"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin <sup>menu</sup></div>
      </span>
   
      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <%= link_to root_url do %>
        <span class="nav-link" href="index.html">
          
          <i class="fas fa-home"></i>

          Home</span>
        <% end %>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Menu
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      
      <li class="nav-item">
        <%= link_to tasks_path, :class => "nav-link" do %>
         <span>
          <i class="fas fa-tasks mr-2"></i>
          
          Tasks</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to ironman_player_players_path + "?id=" + current_user.players.first.id.to_s, :class => "nav-link" do %>
         <span>
          <i class="fas fa-tasks mr-2"></i>
          
          Ironman</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to tasks_path, :class => "nav-link" do %>
         <span>
          <i class="fas fa-tasks mr-2"></i>
          
          Tasks</span>
        <% end %>
      </li>
       

      <!-- Divider -->
      <hr class="sidebar-divider">
     

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>

